* {
  box-sizing: border-box;
  margin: 0;
}
.allcards {
  padding: 10px 10px;
  display: inline-block;
}
.card {
  margin: 10px 10px;
  display: inline-block;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 125px 250px;
  color: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
}
.heading {
  position: absolute;
  font-size: 35px;
  top: 40px;
  left: 75px;
}
.price {
  position: absolute;
  top: 100px;
  left: 75px;
  font-size: 50px;
  font-weight: bold;
}
.info {
  position: absolute;
  left: 75px;
  bottom: 40px;
}
.icon {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 40px;
  right: 75px;
}
.first {
  background: rgb(215, 64, 116);
  background: linear-gradient(
    262deg,
    rgb(241, 96, 147) 39%,
    rgba(240, 150, 182, 0.747) 65%
  );
}
.second {
  background: rgb(64, 215, 182);
  background: linear-gradient(
    262deg,
    rgb(40, 189, 40) 39%,
    rgba(158, 231, 158, 0.747) 65%
  );
}
.third {
  background: rgb(64, 112, 215);
  background: linear-gradient(
    262deg,
    rgb(66, 97, 235) 39%,
    rgba(142, 166, 231, 0.747) 65%
  );
}
.card:after {
  content: "";
  position: absolute;
  background-color: rgb(252, 252, 252);
  border-radius: 50%;
  padding: 150px;
  opacity: 0.2;
  bottom: -100px;
  right: -60px;
}
.card:before {
  content: "";
  position: absolute;
  background-color: white;
  border-radius: 50%;
  padding: 100px;
  opacity: 0.2;
  top: -20px;
  right: -40px;
}
.card:hover {
  transform: translate(0px, 18px) scale(1.3);
  transition: ease 0.5s;
  background-color: brown;
  z-index: 2;
  color:black;
}
