.container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap-reverse;
  align-content: center;
  border: 5px solid;
  height: 100vh;
  text-align: center;
  background-color: blue;
}

.item {
  /* width: 100px; */
  /* height: 100px; */
  background-color: rgb(230, 255, 4);
  font-size: 50px;
  border: 5px solid rgb(255, 0, 0);
  /* width: 50px; */
  text-align: center;
}
