* {
  box-sizing: border-box;
}
.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 30px;
}
.heading {
  text-align: center;
  padding: 10px;
  font-size: 40px;
}
.persdata{
  display:flex;
  justify-content: center;
  padding: 20px;
  width:200px;
}
.regdata > {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  justify-content: space-evenly;
  width: 430px;
  padding: 20px;
  
  
}