* {
  /* box-sizing: border-box; */
  text-align: center;
}
header {
  background-image: url(/img/beach.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 15%;
  height: 100vh;
  font-size: 12px;
}
a {
  color: #926239;
  border-color: #926239;
  border-style: solid;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  }
#super {
    font-size: 9px;
  }
h1 {
  color: #926239;
  text-align: center;
}
p {
  color: #926239;
  text-align: center;
}
.chapter-1 {
  background-color: #926239;
  text-align: center;
  color: white;
  font-size: 12px;
  
}
.chapter-2 {
  text-align: center;
  color: #926239;
  display: block;
  font-size: 12px;
}
.class1 {
  background-color: #926239;
  color: white;
  display: inline-block;
  width: 33%;
  font-size: 12px;
}
.class2 {
  color: #926239;
  display: inline-block;
  font-size: 12px;
  width: 33%;
}
.class3 {
  background-color: #926239;
  color: white;
  display: inline-block;
  width: 33%;
  font-size: 12px;
}
