* {
  box-sizing: border-box;
  text-align: center;
}
header {
  background-image: url(/img/beach.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 35vh;
  padding: 0 auto;
  min-height: 100vh;
  font-size: 25px;
}
a {
  color: #926239;
  border-color: #926239;
  border-style: solid;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}
.super {
  font-size: 10px;
}
h1 {
  color: #926239;
  text-align: center;
}
p {
  color: #926239;
  text-align: center;
}
.chapter-1 {
  background-color: #926239;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 16px;
}
.chapter-2 {
  text-align: center;
  padding: 10px;
  color: #926239;
  display: block;
  font-size: 16px;
}
.class1 {
  background-color: #926239;
  padding: 10px;
  color: white;
  display: inline-block;
  width: 33%;
  font-size: 16px;
}
.class2 {
  color: #926239;
  padding: 10px;
  display: inline-block;
  font-size: 16px;
  width: 33%;
}
.class3 {
  background-color: #926239;
  color: white;
  padding: 10px;
  display: inline-block;
  width: 33%;
  font-size: 16px;
}
