* {
  box-sizing: border-box;
  text-decoration: none;
}
table {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.123);
  border-radius: 40px;
  background-clip: border-box;
  
}
td {
  padding: 15px 30px;
  text-align: center;
}
th {
  font-weight: bolder;
  font-size: 25px;
  background-color: rgb(0, 0, 120, 0.2);
  color: white;
  border-top-left-radius: 40px;
}
.rate10 {
  padding: 10px 20px;
  font-weight: bold;
  background-color: rgba(0, 0, 100, 0.3);
  color: white;
}
.rate30 {
  padding: 10px 20px;
  font-weight: bold;
  background-color: rgba(0, 0, 80, 0.5);
  color: white;
}
.rate59 {
  padding: 10px 20px;
  font-weight: bold;
  background-color: rgba(0, 0, 60, 0.7);
  color: white;
}
.rate99 {
  padding: 10px 20px;
  font-weight: bold;
  background-color: rgba(0, 0, 40, 0.9);
  color: white;
 }
.price {
  font-size: 50px;
  font-weight: bolder;
}

.monitor2 {
  background-color: rgba(128, 128, 128, 0.2);

}
#button {
  color: black;
  padding: 7px 10px;
  background-color: rgba(128, 128, 128, 0.5);
  border: 1px solid rgba(128, 128, 128, 0.4);
  margin: 0px auto;
}
#testline {
  border-top-right-radius: 40px;
}
