%btn {
  padding: 20px 30px;
  border-radius: 20px;
  border: 2px solid black;
}

%darkTheme {
  background-color: #444444;
  color: white;
}

%lightTheme {
  background-color: #bbbbbb;
  color: black;
}